/*!
 * Tesla Project 
 * November 8, 2017
 * Author, Taulant Culi.
 */
@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/ClearSans/clearsans-thin-webfont.eot');
    src: url('../fonts/ClearSans/clearsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/clearsans-thin-webfont.woff2') format('woff2'),
         url('../fonts/ClearSans/clearsans-thin-webfont.woff') format('woff'),
         url('../fonts/ClearSans/clearsans-thin-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans/clearsans-thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
	font-style: normal;

}
@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('../fonts/ClearSans/clearsans-light-webfont.eot');
    src: url('../fonts/ClearSans/clearsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/clearsans-light-webfont.woff2') format('woff2'),
         url('../fonts/ClearSans/clearsans-light-webfont.woff') format('woff'),
         url('../fonts/ClearSans/clearsans-light-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/ClearSans/clearsans-regular-webfont.eot');
    src: url('../fonts/ClearSans/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/clearsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ClearSans/clearsans-regular-webfont.woff') format('woff'),
         url('../fonts/ClearSans/clearsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/ClearSans/clearsans-medium-webfont.eot');
    src: url('../fonts/ClearSans/clearsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/clearsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/ClearSans/clearsans-medium-webfont.woff') format('woff'),
         url('../fonts/ClearSans/clearsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/ClearSans/clearsans-bold-webfont.eot');
    src: url('../fonts/ClearSans/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans/clearsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/ClearSans/clearsans-bold-webfont.woff') format('woff'),
         url('../fonts/ClearSans/clearsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/ClearSans/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
text-rendering: optimizeLegibility !important;
text-rendering: geometricPrecision !important;
font-smooth: always !important;
font-smoothing: antialiased !important;
-moz-font-smoothing: antialiased !important;
-webkit-font-smoothing: antialiased !important;
-webkit-font-smoothing: subpixel-antialiased !important;
}
body {
	padding:0px !important;
	margin:0px !important;
	text-rendering:optimizeLegibility;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #282828;
	font-family: 'clear_sansregular', sans-serif;
}

a {
	color: #f05f40;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: 0;
}

a:hover,
a:focus { 
	color: #eb3812; 
}

a, 
a:hover, 
a:active, 
a:focus {
  text-decoration:none; 
  outline: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'clear_sansregular', Arial,sans-serif;
	padding: 0;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

section {
	padding: 35px 0;
}

::-moz-selection {
	text-shadow: none;
	color: #fff;
	background: #222;
}

::selection {
	text-shadow: none;
	color: #fff;
	background: #222;
}

img::selection {
	color: #fff;
	background: 0 0;
}

img::-moz-selection {
	color: #fff;
	background: 0 0;
}

body {
	webkit-tap-highlight-color: #222;
}
/*shadow*/
.drop-shadow-bottom {background-color: #fff;border-color: #fff;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.25);-moz-box-shadow:    0 5px 15px rgba(0,0,0,0.25);box-shadow:         0 5px 15px rgba(0,0,0,0.25);z-index: 8;}

/*************************************************
01. General CSS
*************************************************/
body {
	width: 100%;
	height: 100%;
	background-color: #4f6e71;
}
ul {
	list-style-type: none;
	padding: 0;
}


/*************************************************
02. Tesla Section CSS
*************************************************/
.tesla {
	background-image: url('../img/pricing-table-tesla-bg.png');
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	background-color: #c1c1c1;
	width:800px;
	/* max-height: 600px; */
	max-width: 100%;
	margin: 45px auto 0;
	box-shadow: 10px 10px 33px -1px rgba(0, 0, 0, 0.61);
}
.tesla .tesla-box {
	width: 320px;
	max-width: 100%;
	margin: 15px 35px;
}
.tesla .tesla-s {
	/* background-color: #fff; */
	color: #60697d;
}
.tesla .tesla-x {
	/* background-color: #656a72; */
	color: #fff;
}
.tesla .tesla-box h1 span {
	font-family: 'clear_sansbold';
}
hr {
	width: 28px;
	margin-top: 8px;
	border-top: 2px solid #eee;
}
.tesla-s hr {
	border-color: #e9eaec;
	/* border-color: #ea525c; */
}
.tesla-x hr {
	border-color: #94979d;
}
.tesla img {
	margin: 0 auto;
}
.tesla .t-body ul li {
	font-family: 'clear_sans_lightregular';
	font-size: 14px;
	letter-spacing: 0;
	margin-bottom: 15px;
}
.tesla .t-body ul li:last-child {
	margin-bottom: 20px;
}
.order-btn {
	color: #fff;
	background-color: #ea525c;
	text-transform: uppercase;
	font-family: 'clear_sansbold';
	border: none;
	border-radius: 30px;
	padding: 12px 40px;
}
.reserve-btn {
	color: #fff;
	background-color: #37406c;
	text-transform: uppercase;
	font-family: 'clear_sansbold';
	border: none;	
	border-radius: 30px;
	padding: 12px 40px;
}
.tesla .t-body p {
	font-size: 24px;
	font-family: 'clear_sans_thinregular';
	letter-spacing: 0;
	margin-top: -3px;
	margin-bottom: 18px;
}
.tesla .t-body p span {
	font-family: 'clear_sans_mediumregular';
	letter-spacing: 0;
}
.tesla .tesla-s .t-head {
	background-color: #f8f9f9;
	padding: 30px 0 22px 0;
}
.tesla .tesla-s .t-body {
	background-color: #fff;
	padding: 23px 0 35px 0;
}
.tesla .tesla-x .t-head {
	background-color: #656a72;
	padding: 30px 0 22px 0;
}
.tesla .tesla-x .t-body  {
	background-color: rgba(115, 120, 125, 0.95);
	padding: 23px 0 35px 0;
	
}



/*************************************************
03. Media Queries CSS
*************************************************/

	/*==========  Non-Mobile First Method  ==========*/

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {  
	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {
	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {
		.tesla-box {
			box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.3);
		}
	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {
	}

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) { 
	}